<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="all-data" autocomplete="off" checked> All
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="last-hour"
  autocomplete="off"> Last Hour
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="last-week"
  autocomplete="off"> Last Week 
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="last-month"
  autocomplete="off"> Last Month 
  </label>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap.bundle.js"></script>
  </body>
</html>